a {
    color: blue
}

a:hover {
    color: aqua
}

#myDiv {
    color: black;
    clear: both;
    width: 500px;
    padding: 30px;
    margin: 20px;
}

.profile-image {
    float: left;
    margin-left: 50px;
}

h1 {
    font-size: 36px;
    color: black;
    text-align: left;
}